html {
  font-family: sans-serif;
}

header {
  background-color: #fff;
}

li {
  color: #0074d9;
  display: inline-block;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Alata, sans-serif;
}

.wrapper-call-to-action {
  font-family: Inter, sans-serif;
}

.title,
nav {
  text-align: center;
  font-family: Alata, sans-serif;
}

.banner-content {
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 24em;
}

.about {
  background-color: #c4d0f5;
  font-family: Inter, sans-serif;
}

.objective {
  background-color: #fff;
  font-family: Inter, sans-serif;
}

.container {
  font-family: Alata, sans-serif;
}

.details {
  float: left;
  width: 50%;
}

.photo-about {
  float: left;
  width: 350px;
}

.photo-objective {
  float: left;
  width: 350px;
}

.info {
  float: right;
  width: 75%;
}

.section {
  overflow: hidden;

  background-color: #e2e2e2;
}

.sign-up {
  background-color: #f2f2f2;
}

.table {
  background-color: #f2f2f2;
}

footer {
  background-color: #000;
}

h2,
p {
  color: #000;
}


@media only screen and (min-width: 25em) {

  .banner-image{
    position: absolute;
    transform: translateX(50rem);
  }

  .banner-content{
    transform: translateY(4rem);
  }
  }

  @media only screen and (min-width: 40em) {

    .banner-image{
      position: absolute;
      transform: translateX(50rem);
    }

}

    @media only screen and (min-width: 60em) {

      .banner-image{
        width: 100%;
        transform: translateX(4rem);
      }

      .banner-content{
        transform: translateY(2rem);
      }
  }

    @media only screen and (min-width: 90em) {

      .banner-image{
        width: 100%;
        transform: translateX(-1rem);
}
        .banner-content{
          transform: translateX(2rem);
        }
    }
